.card {
  margin: 20px;
  display: inline-table;
  text-align: left;
  padding: 30px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
  height: 200px;
  position: relative;
}
.card h2 {
  color: #db2828;
}
.card-right {
  position: absolute;
  bottom: 0;
}
.card-right h2 {
  color: #09d3ac;
}
.card:hover {
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.06);
}
